<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Исключение для статических файлов
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]
    
    # Правило для /bod
    RewriteRule ^bod/?$ bod/bod.php [L]

    # Основное правило
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L]
</IfModule>